@import "./base.css";

body {
  background-color: #fafafa;
  padding-bottom: 100px;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.spinner {
  animation: spin 0.7s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
